.authscreen-bg {
  background-image: url("../images/loginbg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  z-index: 0;
}
.authscreen {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 75px);
  padding: 20px;
  display: flex;
  align-items: center;
}
.authscreen:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(13, 13, 13, 0.55);
  z-index: 1;
}
.authscreen .container {
  position: relative;
  z-index: 2;
}
.withIcon {
  position: relative;
}
.viewPsw {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}
span.icon.eye-slash {
  background-image: url("../images/eye-slash.svg");
  height: 24px;
  width: 24px;
}
span.icon.eye {
  background-image: url("../images/eye.svg");
  height: 24px;
  width: 24px;
}
.authscreen h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 60px 0 86px;
}
.authscreen p {
  color: var(--greenGrey);
}
.authscreen ul {
  margin: 0 36px;
}
.authscreen ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 31.5px;
  margin: 0 0 25px;
  padding: 0 0 0 37px;
  background-image: url("../images/double-tick.svg");
  background-repeat: no-repeat;
  background-position: top left;
}
.authscreen ul li:last-child {
  margin: 0;
}
.authscreen form {
  background: #fff;
  border-radius: 8px;
  padding: 40px 60px;
}
.authscreen form h1 {
  margin: 0 0 80px;
  color: #585858;
  font-size: 36px;
  line-height: 31.5px;
  font-weight: 600;
  text-align: center;
}
.authscreen form label {
  color: #585858;
  font-size: 16px;
  line-height: 31.5px;
  margin: 0 0 8px;
  display: block;
  font-weight: 500;
}
.authscreen form .form-control {
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 9px;
  height: 60px;
  font-size: 14px;
  padding: 14px 20px;
  font-weight: 500;
  color: #111;
}
.authscreen form .form-field + .form-field .form-group {
  margin: 30px 0 0;
}
a.blueLink {
  color: var(--greenGrey);
  line-height: 31.5px;
  font-weight: 500;
}
a.blueLink.midlink {
  margin: 13px 0 63px;
}
button.btn.btn-submit {
  width: 100%;
  color: #fff;
  border-radius: 9px;
  border: 0;
  box-shadow: none;
  font-weight: 500;
}
span.separater {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  margin: 15px 0;
}
span.separater:before, span.separater:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #cecece;
  height: 1px;
  width: calc(50% - 20px);
  left: 0;
}
span.separater span {
  background: #fff;
  color: #797979;
  padding: 0 20px;
  line-height: 31.5px;
  font-size: 14px;
}
span.separater:after {
  right: 0;
  left: auto;
}
a.blockLink {
  display: flex;
  border: 1.5px solid #134f8b;
  box-sizing: border-box;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  color: #134f8b;
  font-size: 16px;
  line-height: 31.5px;
  font-weight: 500;
  padding: 14px;
  margin: 0 0 30px;
}
span.icon.google {
  height: 27px;
  width: 27px;
  margin: 0 17px 0 0;
  background-image: url("../images/google-blue.svg");
}
.authscreen p.auth-footer {
  margin: 0;
  text-align: center;
  color: #949494;
  font-size: 15px;
  line-height: 31.5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authscreen form .form-field:last-child .form-group {
  margin: 0;
}
.authscreen .form-control.hasError {
  border-color: #fe5757;
}
.authscreen form label.error {
  color: #fe5757;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  margin: 3px 0 0;
  position: absolute;
}
.authscreen p.tandc {
  font-size: 14px;
  line-height: 21px;
  color: #797979;
  margin: 20px 0;
  font-weight: 500;
}
.captcha {
  background: #c4c4c4;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 26px 0 20px
}
@media (min-width: 1200px) {
  .col.authInfo {
    padding-right: 80px;
  }
  .authscreen form {
    min-width: 550px;
  }
}
@media (max-width: 767px) {
  .authscreen h2 {
    font-size: 28px;
    line-height: normal;
    margin: 0 0 30px;
  }
  .authscreen p {
    margin: 0 0 30px;
  }
  .authscreen ul {
    margin: 0;
  }
  .col.authInfo {
    margin: 0 0 50px;
  }
  .authscreen form {
    padding: 15px;
  }
  .authscreen form h1 {
    font-size: 28px;
    margin: 20px 0 30px;
  }
  .authscreen {
    padding-left: 0;
    padding-right: 0;
  }
}
